@import "tailwindcss";

.my-hero-bg {
    background: linear-gradient(112.84deg, #46BAEB 0.33%, #AF2CFF 38.23%, #F790AF 65.22%, #C1ABFF 100%);
}

.my-logo {
  max-height: 40px;
  width: auto;
}

.my-logo-footer {
  max-height: 35px;
  width: auto;
}
